.wrapper {
    width  : 800px;
    margin : 20px auto 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.dark {
    background : #111;
}

.bright {
    background : #EEE;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#App {

}
